<template>
    <div>
        <vNavigation></vNavigation> 
        <div class="contact-container">
            <p class="title-font">Contact Us</p>

            <form class="form-contact-us" v-on:submit.prevent="sendMessage">
                <div v-if="messageStatus" class="alert success">
                    <span v-if="messageStatus">{{ messageStatus }}</span>
                </div>
                <div v-if="messageError" class="alert error">
                    <span v-if="messageError">{{ messageError }}</span>
                </div>
                <div class="form-control text-left">
                    <label for="name" v-bind:class="[contact.name.length ? activeClass : '' ]">Full Name</label>
                    <input v-model="contact.name" type="text" name="name" id="name" v-bind:class="[contact.name.length ? activeClass : '']" required>
                </div>
                <div class="form-control text-left">
                    <label for="email" v-bind:class="[contact.email.length ? activeClass : '' ]">
                        Email
                    </label>
                    <input v-model="contact.email" type="email" name="email" v-bind:class="[contact.email.length ? activeClass : '']" required> 
                </div>
                <div class="form-control text-left">
                    <label for="country" v-bind:class="[contact.country.length ? activeClass : '' ]">
                        Country
                    </label>
                    <input v-model="contact.country" type="text" name="country" v-bind:class="[contact.country.length ? activeClass : '']" required>
                </div>
                <div class="form-control text-left">
                    <label for="message" v-bind:class="[contact.message.length ? activeClass : '' ]">
                        Mensaje
                    </label>
                    <textarea name="message" v-model="contact.message" v-bind:class="[contact.message.length ? activeClass : '']" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">SEND</button>
            </form>
        </div>
    </div>
</template>

<script>
    import vNavigation from "../components/navigation.vue";
    export default {
        name:'contact-us',
        components: {
            vNavigation,
        },
        data(){
            return{
                activeClass: 'filled-input',
                contact:{
                    name: '',
                    email: '',
                    country: '',
                    message: '',
                },
                messageStatus: '',
                messageError: '',
            }
        },
        methods:{
            sendMessage () {
                const self = this;
                $.ajax({
                    url:"./api.php?e=subscribers&r=/contactus",
                    method: "POST",
                    dataType: "json",
                    data: {contact: self.contact},
                })
                .done(function (res) {
                    if (res.error) {
                        self.messageError = 'An error occurred. Try again.';
                        self.messageStatus = '';
                    } else {
                        self.messageStatus = 'Message sent succesfully';
                        self.messageError = '';
                        self.contact.name = '';
                        self.contact.email = '';
                        self.contact.country = '';
                        self.contact.message = '';
                    }
                })
                .fail(function (error) {
                    self.messageStatus = '';
                    self.messageError = 'An error occurred. Try again.';
                });
            },
        },
    }
</script>

<style lang="less">
    .contact-container {
        margin-bottom: 1rem;
        margin-top: 3rem;

        p.title-font { font-size: 3.5rem; text-align: center; }

        form.form-contact-us {
            margin: .5rem auto;
            max-width: 650px;

            ::-webkit-input-placeholder { padding-left:8px; font-size:15px; color:black; }
            ::-moz-placeholder { padding-left:8px; font-size:15px; color:black; }
            ::-ms-input-placeholder {  padding-left:8px; font-size:15px; color:black; }
            ::-o-input-placeholder {  padding-left:8px; font-size:15px; color:black; }

            @media (max-width: 767px) { width: 80%; } 
            @media (min-width: 768px) { width: 70%; } 
            @media (min-width: 992px) { width: 60%; }
            
            div.alert { margin-bottom: 1rem; max-width: 90% !important;}
            div.form-control { margin-bottom:0.5rem; }

            button.btn.btn-primary {
                margin-bottom: 2rem;
                margin-top: 1rem;
                padding: 0.8rem;
                text-align: center;
                width: 100%;
            }
        }
    }
</style>