<template>
    <div class="home">
        <section class="main-banner section">
            <div class="logo">
                <div class="birdroad-square">
                    BIRD ROAD
                </div>
                <h1 class="mt-3 mb-1">BIRD ROAD</h1>
                <span class="fs-15">EXPRESS YOURSELF</span>
            </div>
            <div class="image">
                <img src="../../../multimedia/home2.jpg" alt="Representative image of the company">
            </div>
        </section>
        <section class="home-slider section d-flex j-center" id="home-slider"> 
            <div class="d-flex w-100"> 
                <div class="container-slider w-100">
                    <div>
                        <div class="numbertext">{{slideIndex}} / {{slides.length}}</div>
                        <img v-mlens v-on:click="$router.push('/shop/'+selectedSlide.id_products_products_gallery)" @mouseover="stopSlide" @mouseout="startSlide" :src="selectedSlide.image_products_gallery" id="mlenss" class="cursor img-slider m-auto" :alt="selectedSlide.alt_products_gallery" :data-big="selectedSlide.image_hd_products_gallery" :data-big2x="selectedSlide.image_hd_products_gallery" >
                    </div>
                    <a class="prev" @click="plusSlides(-1)">❮</a>
                    <a class="next" @click="plusSlides(1)">❯</a>
                    <div class="caption-container d-flex j-center">
                        <p id="caption" v-on:click="$router.push('/shop/'+selectedSlide.id_products_products_gallery)" class="p-03">{{ selectedSlide.alt_products_gallery }}</p>
                    </div>
                </div> 
            </div> 
        </section>
        <section class="section">
            <div class="w-100 row pt-1 content">
                <div class="w-100 pt-1 row j-center ">
                    <span class="my-auto w-100 first-title fs-35 title-font text-center p-us">About Us</span>
                    <p class="text-nosotros text-center p-us pb-2 pt-2 w-100">
                    We care about the environment, which is why we create from recycle materials.<br>Deeper Clothing designs are so unique that you will doubt your very eyes.<br>
                    Our designs are inspired in classic models that we have transformed in current fashion.<br>We are committed to create sustainable fashion and high quality garments. That is a Deeper promise.</p>
                    <router-link tag="button" to="/nosotros" class="btn bordered mb-1 fs-12 fw-600">READ MORE</router-link>
                </div> 
            </div> 
            <vFooter></vFooter>
        </section>
    </div> 
</template>

<style lang="less">
    @import (reference) "../../../stylesheets/main.less";

    .home {
        .main-banner {
            display: flex;
            flex-wrap: wrap;

            @media (max-width: 991px) {
                align-items: center;
                flex-direction: column;
                justify-content: center;
            }

            @media (min-width: 992px) {
                flex-direction: row;
            }

            .logo {
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1rem;

                @media (max-width: 991px) {
                    left: calc(50% - 158px);
                    position: absolute;
                    top: calc(50% - 200px);
                    z-index: 1;
                }

                @media (min-width: 992px) {
                    width: calc(50%);                    
                }
                
                .birdroad-square{
                    border: 5px solid @primary;
                    color: @primary;
                    display: inline-block;
                    font-size: 3.5rem;
                    line-height: 1.5;
                    min-width: 232px;
                    max-width: 284px;
                    padding: 1rem;
                    text-align: center;
                    width: 50%;
                }

                h1 {
                    color: @primary;
                    @media (max-width: 399px) {
                        font-size: 2.5rem;
                    }
                }

                span { color: @primary; }
            }

            .image {
                @media (max-width: 991px) {
                    opacity: 0.8;
                    width: 100%;                    
                }
                @media (min-width: 992px) {
                    align-self: center;
                    padding-right: 2rem;
                    width: calc(50%);                    
                }

                img { width: 100%; }
            }
        }
    }

    .section-3 { position:relative; }
    .text-nosotros{
        .fs-15;
        @media screen and (max-width:750px){
            font-size:1.1rem !important;
        };
        @media screen and (min-width:751px) and (max-width:900px){
            font-size:1.3rem !important;
        }
    }
    #mlens_wrapper_0 {
        display: flex;
        width: 100%;
    }

    .img-slider {
        height: 93vh;
        width: auto !important;
        max-width: 100% !important;
    }
 
    /* CODIGO DEL ZOOM EN PANTALLA COMPLETA */
    #imgzoom {
        cursor: pointer;
        transition: 0.3s;
    }

    #imgzoom:hover { opacity: 0.7; }

    /* The Modal (background) */
    .modal {
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        display: none; /* Hidden by default */
        height: 100%; /* Full height */
        left: 0;
        overflow: auto; /* Enable scroll if needed */
        padding-top: 100px; /* Location of the box */
        position: fixed; /* Stay in place */
        top: 0;
        width: 100%; /* Full width */
        z-index: 1; /* Sit on top */
    }

    /* Modal Content (image) */
    .modal-content {
        display: block;
        margin: auto;
        max-width: 700px;
        width: 80%;
    }

    /* Caption of Modal Image */
    #caption{
        color:white !important;
        letter-spacing: 2px;
        text-transform:uppercase;
    }
    #caption-zoom {
        color: #ccc;
        display: block;
        height: 150px;
        margin: auto;
        max-width: 700px;
        padding: 10px 0;
        text-align: center;
        width: 80%;
    }

    /* Add Animation */
    .modal-content, #caption-zoom {    
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from { -webkit-transform: scale(0); } 
        to { -webkit-transform: scale(1); }
    }

    @keyframes zoom {
        from { transform: scale(0); } 
        to { transform: scale(1); }
    }

    /* The Close Button */
    .close {
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        right: 35px;
        top: 15px;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        cursor: pointer;
        text-decoration: none;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px) {
        .modal-content { width: 100%; }
    }
    
    #mlens_wrapper_0{
        display: flex;
        width: 100% !important;
    }
    .banner-mobile{
        @media screen and (min-width:580px){
            display:none;
        }
    }
    /* CODIGO CSS DE SECCIONES */
    
    
    
    @media screen and (max-width: 700px) {
        .padding-x2 {
            padding-left: 0vw !important;
            padding-right: 0vw !important;
        }
    }

    @media screen and (min-width: 701px) {
        .padding-x2 {
            padding-left: 15vw !important;
            padding-right: 15vw !important;
        }
    }


    .p-us {
        padding-left: 10vw !important;
        padding-right: 10vw !important;
    }

    /* CODIGO CSS DEL SLIDER */
    .home-slider {
        font-family: 'Didact Gothic', sans-serif;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    img { vertical-align: middle; }

    .container-slider { position: relative; }

    .mySlides { display: none; }

    .cursor { cursor: pointer; }

    .prev,
    .next {
        border-radius: 0 3px 3px 0;
        color: white;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        margin-top: -50px;
        padding: 16px;
        position: absolute;
        top: 40%;
        user-select: none;
        -webkit-user-select: none;
        width: auto;
    }

    .next {
        border-radius: 3px 0 0 3px;
        right: 0;
    }

    .prev:hover,
    .next:hover { background-color: rgba(0, 0, 0, 0.8); }

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .caption-container {
        background-color: @primary;
        color: white;
        cursor: pointer;
        height:7vh;
        text-align: center;
    }

    .row:after {
        content: "";
        clear: both;
        display: table;
    }

    .column {
        float: left;
        width: 16.66%;
    }

    .demo { opacity: 0.6; }

    .active-hp,
    .demo:hover { opacity: 1; }
    
</style>
<script>
    import vFooter from "../components/footer.vue";

    export default {
        name:'inicio',
        data () {
            return {
                slideIndex: 1,
                slides: [],
                selectedSlide: {},
                times: 0,
                autoSlide: null,
            }
        },
        methods:{
            currentSlide(n) {
                this.showSlides(n || 1);
            },
            plusSlides(n) {
                this.showSlides(this.slideIndex += n);
            },
            showSlides(n) {
                this.slideIndex = n;
                if (n > this.slides.length) {this.slideIndex = 1}
                if (n < 1) {this.slideIndex = this.slides.length}
                this.selectedSlide = this.slides[this.slideIndex-1];
            },
            startSlide() {
                const self = this;
                self.autoSlide = setInterval(function () { self.plusSlides(1); }, 4000);
            },
            stopSlide() {
                clearInterval(this.autoSlide);
            },
        },
        destroyed(){
            window.$.scrollify.destroy();
            this.stopSlide();
        },
        mounted() {
            const self = this;
            $.ajax({
                url:"./api.php?e=home&r=/&id=1",
                method: "GET",
                dataType: "json",
            })
            .done(function (result) {
                self.slides = result.load;
                self.showSlides(1);
                window.$.scrollify({
                    section : ".section",
                    updateHash: false,
                    interstitialSection: "footer",
                    standardScrollElements: ".stdScroll",
                });
                self.startSlide();
            })
            .fail(function (error) {
                self.error = error.status + ' '+error.statusText;
            });
        },
        components: {
            vFooter,
        },
        directives: {
            mlens: {
                update: function (el, binding, vnode) {
                    if (vnode.context.times > 0){
                        // console.log("otra vez")
                        window.$("#mlenss").mlens('destroy');
                    }
                    else {
                        // console.log("primera vez")
                        vnode.context.times+=1;
                    }
                    window.$("#mlenss").mlens({
                        // gets image files
                        imgSrc: el.dataset.big, 
                        imgSrc2x: el.dataset.big2x,
                        // shape of the lens (circle/square)
                        lensShape: "square",
                        // size of the lens
                        lensSize: ["50%","50%"],
                        // size of the lens border (in px)
                        borderSize: 4,
                        // color of the lens border (#hex)
                        borderColor: "#fff",
                        // border radius (optional, only if the shape is square)
                        borderRadius: 0,
                        // imgOverlay: el.dataset.overlay,
                        // true if the overlay image has to adapt to the lens size (true/false)
                        // overlayAdapt: true,
                        // zoom level
                        zoomLevel: 2, 
                        // is responsive
                        responsive: true
                    });
                    window.$("#mlens_target_0").on({
                        mouseenter: function () {
                            // console.log("stop?")
                            vnode.context.stopSlide()
                        },
                        mouseleave: function () {
                            // console.log("start?")
                            vnode.context.startSlide()
                        },
                    });
                    window.$("#mlenss").on({
                        touchstart: function () {
                            // console.log("touched?")
                            vnode.context.stopSlide()
                        },
                        touchmove: function () {
                            // console.log("move?")
                            vnode.context.stopSlide()
                        },
                        touchend: function () {
                            // console.log("end?")
                            vnode.context.startSlide()
                        },
                    })
                },
            },
        },
    }
</script>