<template>
    <div class="w-100">
        <vNavigation></vNavigation>
        <div class="w-100 d-flex">
            <div class="m-auto w-text-deeper">
                <p class="text-justify px-2 pt-2">Deeper is a fashion brand based in Miami that offers a colorful, cheerful and fun style.</p>
                <p class="text-justify px-2">Inspired by classic models and adapting them to the fashion of today with the aim of creating a sustainable fashion and offering high quality garments.</p>
                <p class="text-justify px-2">Fabric is made with REPREVE yarns produced from recycled plastic bottles, certified by Unifi and treated with Sorbtek, the moisture control system that allows perspiration to move away from the body, dry quickly, control the smell and promote comfort, giving a soft, flexible and sustainable fabric that respects the environment and the people, practicing a responsible production model that guarantees an environmental commitment and optimal working conditions in the manufacture of our clothes. Our garments are unique, we cut, print and sewn one by one, characterized by exclusive digital prints, which show the elegance of our designs and colors, by transferring a set of images to a garment, creating a three-dimensional appearance.</p>
                <p class="text-justify px-2">All of our garments are characterized by the exquisite elegance of their designs, the palette of colors and unique prints, made in factories that work under optimal conditions in the manufacture of our garments.</p>
                <p class="text-justify px-2">Our source of inspiration is based on the power of feminine forms, which are enhanced through the use of color, textures and silhouettes, generating feelings of optimism, freedom and vitality.</p>
                <p class="text-justify px-2 pb-2">Our collection reflects a timeless, informal and elegant fashion that responds to a lifestyle based on the imagination of its creators. Deeper is aimed at women who seek excellence and this message is transmitted to our atelier in Miami, where the process of creation of each garment is treated with the spirit of haute couture.</p>
            </div>
        </div>
    </div>
</template>
<script>
    import vNavigation from "../components/navigation.vue";
    export default{
        components: {
            vNavigation,
    }
    }
</script>
<style lang="less">
.w-text-deeper{
    max-width:1024px;

    p { margin-bottom: .8rem; }
}
</style>
