<template>
    <div class="p-1 d-flex j-center w-100">
        <div class="m-auto w-text-deeper">
            <div class="row m-0 p-2">
                <div class="first-button d-flex j-center">
                    <button @click="closeWindow" class="btn w-100 fw-600">Back to shop</button>
                </div>
                <div class="terms-title d-flex j-center">
                    <p class="title-font text-center fs-15">SHIPPING POLICY DEEPERCLOTHING.COM</p>
                </div>
            </div> 
            <p class="text-justify mb-2 p-1">Soy los términos y condiciones de envios shipping and more loren ipsum deeper is the clothing store. loren ipsum deeper loren ipsum deeper it he she loren ipsum Soy los términos y condiciones loren ipsum deeper is the clothing store. loren ipsum deeper loren ipsum deeper it he she loren ipsum Soy los términos y condiciones loren ipsum deeper is the clothing store. loren ipsum deeper loren ipsum deeper it he she loren ipsum Soy los términos y condiciones loren ipsum deeper is the clothing store. loren ipsum deeper loren ipsum deeper it he she loren ipsum Soy los términos y condiciones loren ipsum deeper is the clothing store. loren ipsum deeper loren ipsum deeper it he she loren ipsum Soy los términos y condiciones loren ipsum deeper is the clothing store. loren ipsum deeper loren ipsum deeper it he she loren ipsum </p>
            <button @click="closeWindow" class="m-auto btn btn-primary">Back to shop</button>
        </div>
    </div>
</template>
<script>
export default {
    name: 'shippingPolicy',
    data () {

    },

    methods: {
        closeWindow: function (event) {
            window.close();        
        }
    },    
}
</script>