<template>
    <div class="shop"> 
        <vNavigation></vNavigation>
        <p v-if="error" v-bind="error">{{ error }}</p>
        <div class="shop-container" v-if="items.length">
            <div class="shop-item" v-for="item in items" :key="item.id_products"  v-on:click="selectItem(item)">
                <img :src="item.image_products" :alt="item.name_products">
                <header>{{ item.name_products }}</header>
                <div class="flex-between">
                    <p>${{ item.price_products }}</p>
                    <button  v-on:click="selectItem(item)">View details</button>
                </div>
            </div>
        </div>
        <p class="text-center pt-1" v-else>{{status}}</p>
        <router-view></router-view>
        <vSuscription></vSuscription>
    </div>
</template>
<script>
    import vNavigation from "../components/navigation.vue";
    import vSuscription from "../components/suscription-form.vue";
    export default {
        name:'tienda',
        data () {
            return {
                items: [],
                selectedItem: {},
                error: '',
                status: 'Loading...',
            }
        },
        components: {
            vNavigation,
            vSuscription,
        },
        methods: {
            selectItem(item) {
                this.$router.push('/shop/'+item.id_products)
            },
        }, 
        mounted: function (){
            const self = this;
            $.ajax({
                url:"./api.php?e=products&r=/",
                method: "GET",
                dataType: "json",
            })
            .done(function (result) {
                self.items = result.load;
                if (!result.load.length) {
                    self.status = 'Oops, no articles available';
                }
            })
            .fail(function (error) {
                self.error = error.status + ' '+error.statusText;
            });
        },
    }
</script>
<style lang="less">
    @import (reference) "../../../stylesheets/main.less";

    .shop {
        .shop-container {
            background-color: rgba(227, 227, 229, 0.8);
            background-image: linear-gradient(rgba(227, 227, 229, 0.8) 95%, white);
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            .shop-item  {
                cursor: pointer;
                font-size: 30px;
                margin: 1rem;
                overflow: hidden;
                text-align: center;
                width: 216px;

                @media (min-width: 1025px) { margin: 1rem 3%; }
                @media (min-width: 1500px) { margin: 1rem 5%; }

                img { max-height: 370px; }

                header {
                    color: rgba(0, 0, 0, 0.8);
                    font-family: 'Didact Gothic', sans-serif;
                    font-size: 1.3rem;
                    font-weight: 700;
                    letter-spacing: 3px;
                    margin-bottom: 1rem;
                    margin-top: .5rem;
                    text-transform: uppercase;
                    
                    &:hover { color: @primary !important; }
                }

                .flex-between {
                    align-items: center;
                    cursor: pointer;
                    display: flex;
                    height: 40px;
                    justify-content: space-between;
                    margin-bottom: .5rem;
                    margin-top: -.5rem;

                    p { 
                        font-size: 1.3rem; 
                        padding: 0 1rem; 
                        white-space: nowrap; 
                    }
                    button { margin: 0 1rem; }
                }
            }
        }
    }
</style>