<template>
    <div class="p-1 d-flex j-center w-100">
        <div class="m-auto w-text-deeper">
            <div class="row m-0 p-2">
                <div class="first-button d-flex j-center">
                    <button @click="closeWindow" class="btn w-100 fw-600">Back to shop</button>
                </div>
                <div class="terms-title d-flex j-center">
                    <p class="title-font text-center fs-15">TERMS AND CONDITIONS DEEPERCLOTHING.COM</p>
                </div>
            </div> 
            <p class="text-justify mb-2 p-1">Soy los términos y condiciones loren ipsum deeper is the clothing store. loren ipsum deeper loren ipsum deeper it he she loren ipsum Soy los términos y condiciones loren ipsum deeper is the clothing store. loren ipsum deeper loren ipsum deeper it he she loren ipsum Soy los términos y condiciones loren ipsum deeper is the clothing store. loren ipsum deeper loren ipsum deeper it he she loren ipsum Soy los términos y condiciones loren ipsum deeper is the clothing store. loren ipsum deeper loren ipsum deeper it he she loren ipsum Soy los términos y condiciones loren ipsum deeper is the clothing store. loren ipsum deeper loren ipsum deeper it he she loren ipsum Soy los términos y condiciones loren ipsum deeper is the clothing store. loren ipsum deeper loren ipsum deeper it he she loren ipsum </p>
            <button @click="closeWindow" class="m-auto btn btn-primary">Back to shop</button>
        </div>
    </div>
</template>
<style lang="less">
.first-button{
    @media screen and (max-width:800px){
        width:99.99999% !important;
        margin-bottom:1rem;
    }
    @media screen and (min-width:801px){
        position:absolute;
    }

}
.terms-title{
     width:99.99999%; 
}
</style>

<script>
export default {
    name: 'termsCondition',
    data () {

    },

    methods: {
        closeWindow: function (event) {
            window.close();        
        }
    },    
}
</script>