/*----------------------
    Variables de color
----------------------*/
@primary: #0e0d0d;
@secondary: #ffee00;
@success: #156344;
@warning: #e6b002;
@info: #2470a0;
@danger: #b10303;
@light: rgb(252, 252, 252);
@font: rgba(0, 0, 0, 0.8);
@gray: #808080;

* {
  /* Propiedades de compatibilidad del box-sizing */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  -o-box-sizing: border-box;
  box-sizing: border-box;
  color: @font;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* Propiedades para ::selection */
::-webkit-selection { background: @primary; color: @secondary;}
::-moz-selection { background: @primary; color: @secondary;}
::-o-selection { background: @primary; color: @secondary;}
::selection { background: @primary; color: @secondary;}

/* Propiedades para ::scrollbar en Navegadores con -webkit- */
::-webkit-scrollbar { width: 8px; } /* width */
::-webkit-scrollbar-track { background-color: transparent; border-radius: 10px; } /* Track */
::-webkit-scrollbar-thumb { background: rgba(74, 74, 74, 0.4); border-radius: 10px; } /* Handle */
::-webkit-scrollbar-thumb:hover { background: rgba(74, 74, 74, 0.6);  } /* Handle on hover */

/* Fuente para los encabezados */
.title-font {
  color: @font;
  font-weight: 700;
  text-transform: uppercase;
}

/* Hx's (Encabezados) */
h1 { .title-font(); font-size: 3rem; }
h2 { .title-font(); font-size: 2rem; }
h3 { .title-font(); font-size: 1.75rem; }
h4 { .title-font(); font-size: 1.5rem; }
h5 { .title-font(); font-size: 1.25rem; }
h6 { .title-font(); font-size: 1rem; }

/* Buttons y los input types button, submit y reset */
button,
.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  /* Propiedades de compatibilidad */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Propiedades para estilos */
  background-color: transparent;
  border: 2px solid transparent;
  color: @primary;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 4px 8px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  /* Propiedades para la animación de transition */
  -webkit-transition: background-color 0.7s ease, color 0.5s ease;
  -moz-transition: background-color 0.7s ease, color 0.5s ease;
  -o-transition: background-color 0.7s ease, color 0.5s ease;
  transition: background-color 0.7s ease, color 0.5s ease;

  &:hover {
    background-color: @primary;
    color: 	@secondary;

    i { color: @secondary; }
  }

  &.bg-gray-button:hover {
    background-color: rgba(234, 234, 234, 0.5);
    color: @primary !important;

    i { color: @primary !important; }
  }

  &.bordered { border: 2px solid @primary; }

  &.btn-primary {
    background: @primary;
    color: @light;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    padding: 0.5rem;

    i { color: @light; }

    &:hover {
      color: @secondary;

      i { color: @secondary; }
    }
  }
}

/*-----------------------
    Input type Checkbox
    y Radiobuttons
-----------------------*/
label.custom-input {
  cursor: pointer; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & > input { display: none; }

  /*--------------------------------------
      Para checkbox
      Ej. de uso:

      0- Mostrar solo el input:
        <label class="custom-input">
          <input type="checkbox">
          <span class="checkbox"></span>
        </label>

      1- Con el input a la izquierda:
        <label class="custom-input">
          <input type="checkbox">
          <span class="checkbox"></span>
          Texto prueba
        </label>

      2- Con el input a la derecha:
        <label class="custom-input">
          Texto prueba
          <input type="checkbox">
          <span class="checkbox"></span>
        </label>
  --------------------------------------*/

  & > span.checkbox::before {
    color: @gray;
    content: "\f0c8";
    cursor:pointer;
    font-family: "Font Awesome 5 Free"; 
    font-size: 1.2rem;
    font-weight: 400;
  }

  input[type="checkbox"]:hover + span.checkbox::before {
    color: @primary;
    content: "\f0c8";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 400;
  }

  input[type="checkbox"]:checked + span.checkbox::before {
    color: @primary;
    content: "\f14a";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 700;
  }

  /*--------------------------------------
      Para radiobutton
      Ej. de uso:

      0- Mostrar solo el input:
        <label class="custom-input">
          <input type="radio">
          <span class="radio"></span>
        </label>

      1- Con el input a la izquierda:
        <label class="custom-input">
          <input type="radio">
          <span class="radio"></span>
          Texto prueba
        </label>

      2- Con el input a la derecha:
        <label class="custom-input">
          Texto prueba
          <input type="radio">
          <span class="radio"></span>
        </label>
  --------------------------------------*/

  & > span.radio::after {
    color: @gray;
    content: "\f111";
    cursor: pointer;
    font-family: "Font Awesome 5 Free"; 
    font-size: 1.2rem;
    font-weight: 400;
  }

  input[type="radio"] + span.radio::before {
    color: @primary;
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-size: .7rem;
    font-weight: 700;
    left: 15px;
    position: relative;
    top: -3px;
    visibility:hidden;
  }
    
  input[type="radio"] + span.radio:hover::after { color: @primary; }  
  input[type="radio"]:checked + span.radio::before { visibility: visible; }
  input[type="radio"]:checked + span.radio::after { color: @primary; }
}

/* Input types, select, textarea y datalist */
input,
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="week"] ,
select,
textarea,
datalist {
  background: transparent;
  border: 1px solid transparent;
  border-bottom: 2px solid gray;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Didact Gothic', sans-serif;
  padding: 0.4rem 0;
  text-align: center;

  &.inline-w70px {
    display: inline-block;
    width: 70px !important;
  }

  /* Propiedades para la animación de transition */
  -webkit-transition: border-bottom 0.5s ease-in-out;
  -moz-transition: border-bottom 0.5s ease-in-out;
  -o-transition: border-bottom 0.5s ease-in-out;
  transition: border-bottom 0.5s ease-in-out; 

  &:focus { 
    border-bottom: 2px solid @primary;
    outline: none;
  }

  &.i-border-0 {
    border-bottom: 2px solid transparent;

    &:hover { border-bottom: 2px solid transparent; }
    &:focus { border-bottom: 2px solid transparent; }
  }

  &.i-left { text-align: left; }
}

select, 
datalist { cursor: pointer; }

textarea { font-size: 0.8rem; }

/* Tablas */
table {
  color: rgba(0, 0, 0, 0.87);
  margin: 1rem auto;
  width: 100%;

  &.border-b-2 { border-bottom: 2px solid gray; }
  
  thead,
  tr {
    text-align: center;

    th {
      border-bottom: 2px solid gray;
      font-family: 'Didact Gothic', sans-serif;
      font-size: 1.1rem;
      font-weight: 700;
      padding: 0.5rem;
    }

    & > td {
      text-transform: lowercase;
      padding: 0.25rem 0;

      &::first-letter { text-transform: uppercase; }
    }
    
    & select { border: 2px solid transparent !important; }
  }
}

/* Background colors */
.bg-primary {
  background-color: @primary;
  color: white;
  &.bg-overEfect:hover { background-color: darken(@primary, 5%); color: white; }
}
.bg-success {
  background-color: @success;
  color: white;
  &.bg-overEfect:hover { background-color: darken(@success, 5%); color: white; }
}
.bg-warning {
  background-color: @warning;
  color: white;
  &.bg-overEfect:hover { background-color: darken(@warning, 5%); color: white; }
}
.bg-info {
  background-color: @info;
  color: white;
  &.bg-overEfect:hover { background-color: darken(@info, 5%); color: white; }
}
.bg-danger {
  background-color: @danger;
  color: white;
  &.bg-overEfect:hover { background-color: darken(@danger, 5%); color: white; }
}

.bg-light-primary {
  background-color: lighten(@primary, 60%);
  color: @primary;  
  &.bg-overEfect:hover { background-color: darken(@primary, 5%); color: @light; }
}
.bg-light-success {
  background-color: lighten(@success, 60%);
  color: @success;
  &.bg-overEfect:hover { background-color: darken(@success, 5%); color: @light; }
}
.bg-light-warning {
  background-color: lighten(@warning, 60%);
  color: @warning;
  &.bg-overEfect:hover { background-color: darken(@warning, 5%); color: @light; }
}
.bg-light-info {
  background-color: lighten(@info, 60%);
  color: @info;
  &.bg-overEfect:hover { background-color: darken(@info, 5%); color: @light; }
}
.bg-light-danger {
  background-color: lighten(@danger, 60%);
  color: @danger;
  &.bg-overEfect:hover { background-color: darken(@danger, 5%); color: @light; }
}

.bg-custom-primary {
  background-color: @primary !important;
  color: rgb(255, 255, 255) !important;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  padding: 0.7rem 0.5rem 0.5rem 0.5rem;
  text-align: right;
  text-transform: uppercase;
  width:80%;
}

/* Custom link color */
.link-bg-primary a,
a.link-bg-primary {
  color: @primary;
  margin: 0 .05rem;
  padding: .25rem;
  text-decoration: none;

  /* Propiedades para la animación de transition */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 

  &:hover { background-color: @primary; color: @secondary !important; }
}

/* Mostrar / Ocultar */
.d-none { display: none !important; }
.d-block { display: block !important; }
.d-inline-block { display: inline-block !important; }

/* Float */
.row{display:flex;flex-wrap:wrap;}
.d-flex{display:flex;}
.j-center{align-items:center;justify-content: center;align-content: center;}
.justify-content-center { justify-content: center; }
.p-absolute{position:absolute;}
.f-right{float:right;}
.f-left{float:left;}
.cursor{cursor:pointer;}
.col-2{width:16.444444%;}
.col-3{width:24.555555%;}
.col-4{width:33.333333%;}
.col-5{width:41.444444%;}
.col-6{width:49.999999%;}
.col-7{width:58.111111%;}
.col-8{width:66.555555%;}
.col-9{width:74.888888%;}
.col-10{width:83%;}
.col-11{width:91.555555%;}
.col-12{width:99.999999%;}

/* Fonts */

.fs-13{font-size:1.3rem;}
.fs-15{font-size:1.5rem;}
.fs-18{font-size:1.8rem;}
.fs-2{font-size:2rem;}
.fs-25{font-size:2.5rem;}
.fs-35{font-size:3.5rem;}
.fs-3vw{font-size:3vw;}
.fs-23vw{font-size:2.3vw;}
.fs-white{color:white;}
.fs-black{color:black;}
.fs-12{font-size:1.2rem;}
.fw-800{font-weight:800;}
.fw-600{font-weight:600;}
.td-none{text-decoration:none;}

/* Text */

.text-center{text-align:center;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.text-justify{text-align:justify;}
.capitalize { text-transform: capitalize; }
.lowercase { text-transform: lowercase; }

/* Padding / Margin */

.p-0i{padding:0 !important;}
.p-03{padding:0.3rem;}
.p-04{padding:0.4rem;}
.p-05{padding:0.5rem;}
.p-08{padding:0.8rem;}
.p-0 { padding: 0 !important; }
.p-1{padding:1rem;}
.p-15{padding:1.5rem;}
.p-2{padding:2rem;}
.p-3{padding:3rem;}
.pb-1{padding-bottom:1rem;}
.pb-04{padding-bottom:0.4rem;}
.pb-07{padding-bottom:0.7rem;}
.pb-2{padding-bottom:2rem;}
.pb-05{padding-bottom:0.5rem;}
.pb-06{padding-bottom:0.6rem;}

.pt-04{padding-top:0.4rem;}
.pt-05{padding-top:0.5rem;}
.pt-08{padding-top:0.8rem;}
.pt-1{padding-top:1rem;}
.pt-2{padding-top:2rem;}
.pt-3{padding-top:3rem;}

.pr-05{padding-right:0.5rem;}

.pl-05{padding-left:0.5rem;}
.pl-2{padding-left:2rem;}

.px-4{padding-left:4rem;padding-right:4rem;}
.px-2{padding-right:2rem;padding-left:2rem;}
.py-05{padding-top:0.5rem;padding-bottom:0.5rem;}
.px-2vw{padding-left:2vw;padding-right:2vw;}
.p-2vw{padding:2vw;}
.px-2vw{padding-left:2vw;padding-right:2vw;}
.py-3vh{padding-top:3.4vh;padding-bottom:3.4vh;}
.pr-15vw{padding-right:1.5vw;}

.m-0{margin:0;}
.m-0 { margin: 0 !important; }
.m-auto{margin:auto;}
.m-1 { margin: 1rem; }
.mh-30{ min-height:30px;}
.mb-3{margin-bottom:3rem;}
.mb-01{ margin-bottom: 0.1rem; }
.mb-02{ margin-bottom: 0.2rem; }
.mb-03{margin-bottom:0.3rem;}
.mb-05{margin-bottom:0.5rem;}
.mb-1{margin-bottom:1rem;}
.mb-2{margin-bottom:2rem;}
.mb-auto{margin-bottom:auto;}

.mt-03{margin-top:0.3rem;}
.mt-05{margin-top:0.5rem;}
.mt-1{margin-top:1rem;}
.mt-2{margin-top:2rem;}
.mt-3{margin-top:3rem;}
.mt-auto{margin-top:auto;}
.mt-15{margin-top:1.5rem;}
.ml-15{margin-left:1.5rem;}
.mb-2i{margin-bottom:2rem !important;}

.mtb-1 { margin-top: 1rem; margin-bottom: 1rem; }
.mtb-2 { margin-top: 2rem; margin-bottom: 2rem; }

.my-auto{margin-top:auto;margin-bottom:auto;}


/* Width / Height */

.w-100{width:100% !important}
.h-100{height:100% !important}
.w-120{width:120% !important;}
.w-85{width:85%;}
.w-40{width:40%;}
.w-50{width:50%;}
.w-50px { width: 50px; }
.mb-05i{margin-bottom:0.5rem !important;}
.mt-1i{margin-top:1rem !important;}
.w-26{width:26%;}
.w-80{width:80%;}
.w-101{width:101.5% !important;}
.w-88{width:88%;}
.h-0 { height: 0; }
.h-60vh{height: 60vh !important;}

/* Border */

.border-0 { border:0 !important; }

.borderb-2{border-bottom:2px solid black;}
.borderb-2i{border-bottom:2px solid gray !important};
.borderb-0{border-bottom:0 !important;}
.borderb-3{border-bottom:3px solid gray};
.bordert-2{border-top:2px solid gray;}

.borderr-2{border-right:2px solid gray;}

.borderl-2{border-left:2px solid gray;}

.bg-gray{background:gray;}
.bg-black{background:black;}
.bg-clear{background-color:rgba(1,1,1,0.17)}
.bg-none{background:none;}
.bg-opacity{background-color:rgba(1,1,1,.7)}
.bg-opacity-4{background-color:rgba(1,1,1,.3)}

/* MENSAJES DE ERROR */
.alert {
  .m-auto;
  border-bottom-right-radius: 2px;
  border-left: 4px solid;
  border-top-right-radius: 2px;
  line-height: 1.6em;
  max-width: 70%;
  padding: 12px 24px 12px 30px;
  position: relative;
  z-index: 1;

  &.success {
    background-color: lighten(@success, 60%);
    border-left-color: @success;
    
    &:before{
      background-color: @success;
      content: "\f00c";
      font-family: "Font Awesome 5 Free";
    }

    & span {
      color: @success;
      font-size: 0.9rem;
      font-weight: 700;
    }
  }

  &.error {
    background-color: lighten(@primary, 60%);
    border-left-color: @primary;

    &:before{
      background-color: @primary;
      content: "\f00d";
      font-family: "Font Awesome 5 Free";
    }

    & span {
      color: @primary;
      font-size: 0.9rem;
      font-weight: 700;
    }
  }
  &:before {
    border-radius:100%;
    color:#fff;
    font-size:14px;  
    font-weight:bold;
    height:20px;
    left:-12px;
    line-height:20px;
    position:absolute;
    text-align: center;
    top: calc(50% - 10px);
    width:20px;
  }
}

/* Display flex con @medias */
.d-media-flex {

  /* 767.98px and down */
  @media (max-width: 767.98px) { display: block; }

  /* 768px and up */
  @media (min-width: 768px) { display: flex; justify-content: center; }

  &.justify-content-space-between {
    /* 767.98px and down */
    @media (max-width: 767.98px) { display: block; justify-content: center; }

    /* 768px and up */
    @media (min-width: 768px) { display: flex; justify-content: space-between; }
  }

  &.items {
    flex-flow: row wrap;

    /* 575.98px and down */
    @media (max-width: 575.98px) { display: block; }

    /* 576px and up */
    @media (min-width: 576px) { display: flex; justify-content: center; }
  }
} 

/* Disposición de información con inputs */
.information {
  margin-top: 1rem;
  
  &.text-center { text-align: center; }

  /* 768px and up */
  @media (min-width: 768px) { width: 45%; }

  &.item {
    /* 575.98px and down */
    @media (max-width: 575.98px) { width: 100%; } 
    @media (min-width: 576px) { width: 50%; }
    @media (min-width: 768px) { width: 40%; }
    @media (min-width: 992px) { width: 25%; }
    @media (min-width: 1200px) { width: 20%; }

    & > div:last-child {
      padding: 0.5rem 0.25rem;

      & > input,
      & > textarea,
      & > select,
      & > datalist { width: 80%; }
    }
  }

  header {
    border-bottom: 2px solid gray;
    margin: 0 !important;
    padding: 0.5rem;
  }

  &:hover {
    header {
      border-bottom: 2px solid @primary !important;
      color: @primary;
    }
  }
}

.d-input {
  display: inline-block;

  @media (max-width: 349px) { width: 100%; }
  @media (min-width: 350px) { width: 90%; }
  @media (min-width: 600px) { width: 45%; }
  @media (min-width: 992px) { width: 30%; }
  @media (min-width: 1200px) { width: 20%; }
}

.button-cart:disabled{
  cursor:not-allowed !important;
}

/* Contenedor del Tooltip */
.tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Texto del tooltip */
.tooltip .tooltiptext {
visibility: hidden;
width: 120px;
background-color: @primary; /* #555 */
color: #fff;
text-align: center;
padding: 5px 0;
border-radius: 6px;

/* Posición del tooltip */
position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -60px;
opacity: 0;
transition: opacity 0.3s;
}

/* Arrow */
.tooltip .tooltiptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: @primary transparent transparent transparent;
}

/* Funcionalidad del tooltip en hover */
.tooltip:hover .tooltiptext {
visibility: visible;
opacity: 1;
}

.tooltip:hover .tooltiptext2 {
  visibility: visible;
  opacity: 1;
  }


/* Texto del tooltip */
.tooltip .tooltiptext2 {
  visibility: hidden;
  width: 120px;
  background-color: @primary; /* #555 */
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  
  /* Posición del tooltip */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 80%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  }
  
  /* Arrow */
  .tooltip .tooltiptext2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 37%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: @primary transparent transparent transparent;
  }
  
/*-----------------------------
  Propiedades para los modals
-----------------------------*/
.modal-background {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .modal-container {
    background-color: rgba(252, 252, 252, 1);
    border-radius: 30px;
    cursor: default;
    display: flex;
    overflow-y: hidden;
    padding: 2rem 0 2rem 2rem;
    position: relative;
    z-index: 101;

    @media (max-width: 575.98px) { 
      max-height: 96vh;
      width: 95%;                
    }
    @media (min-width: 576px) {
      max-height: 92vh;
      width: 95%;                
    }
    @media (min-width: 992px) {
      max-height:80vh;
      width: 70%;                
    }
    
    .main-article {
      overflow-y: auto;
      padding-right: 2.5rem;
      padding-top: 2px;
      width: 100%;

      button.btn-close {
        font-size: 40px;
        height: 37px;
        line-height: 0;
        padding: 8px;
        position: absolute;
        right: 17px;
        top: 21px;

        &:hover { color: @primary !important; }
      }

      header {
        font-family: 'Didact Gothic', sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
        text-align: center;
        text-transform: uppercase;
      }

      .final-price {
        .text-center {
          color: inherit;
          font-family: 'Didact Gothic', sans-serif;
          font-size: 1.3rem;
          font-weight: 700;
          text-transform: uppercase;

          /* Propiedades para la animación de transition */
          -webkit-transition: color 0.5s ease-in-out;
          -moz-transition: color 0.5s ease-in-out;
          -o-transition: color 0.5s ease-in-out;
          transition: color 0.5s ease-in-out; 
        }

        .border-top{
          border-top:2px solid gray;

          /* Propiedades para la animación de transition */
          -webkit-transition: border-top 0.5s ease-in-out;
          -moz-transition: border-top 0.5s ease-in-out;
          -o-transition: border-top 0.5s ease-in-out;
          transition: border-top 0.5s ease-in-out; 
        }

        &:hover {
          .text-center { color: @primary !important; }
          .border-top { border-top: 2px solid @primary !important; }
        }
      }

      .bottom-flex-around {
        @media (max-width: 399.98px) {
          display: flex;
          flex-flow: column wrap;
          justify-content: center;

          & > div {
            align-self: center;
            margin: 0.5rem;
          }
        }
        @media (min-width: 400px) {
          align-items: center;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          margin: 1rem;
        }
      }
    }
  }
}

/*------------------------------------
  Propiedades para los .form-control
------------------------------------*/
.form-control {
  margin: 0 .5rem;
  padding: 0 .25rem;

  label {
    color:rgba(0, 0, 0, 0.8);
    position: relative;
    top: 20px;
    z-index: -1;

    /* Propiedades para la animación de transition */
    -webkit-transition: all .5s ease, top .2s ease;
    -moz-transition: all .5s ease, top .2s ease;
    -o-transition: all .5s ease, top .2s ease;
    transition: all .5s ease, top .2s ease;

    & sup { 
      color: #b10303;
      font-weight: 700;
      font-size: 0.8rem;
    }
  }

  input {
    position: relative;
    top: -6px;
    text-align: right;
    width: 100%;

    /* Propiedades para la animación de transition */
    -webkit-transition: border-bottom .5s ease, padding-left.7s ease, text-align 1s ease;
    -moz-transition: border-bottom .5s ease, padding-left.7s ease, text-align 1s ease;
    -o-transition: border-bottom .5s ease, padding-left.7s ease, text-align 1s ease;
    transition: border-bottom .5s ease, padding-left.7s ease, text-align 1s ease;
  }
  
  select,
  textarea {
    position: relative;
    top: -6px;
    text-align: right;
    width: 100%;

    /* Propiedades para la animación de transition */
    -webkit-transition: border-bottom .5s ease, padding-left.7s ease, text-align 1s ease;
    -moz-transition: border-bottom .5s ease, padding-left.7s ease, text-align 1s ease;
    -o-transition: border-bottom .5s ease, padding-left.7s ease, text-align 1s ease;
    transition: border-bottom .5s ease, padding-left.7s ease, text-align 1s ease;
  }

  /*--------------------------------
      Clases para el label e input 
      con los campos llenos
  --------------------------------*/
  label.filled-input {
    font-size: .8rem !important;
    top: 0 !important;
  }

  input,
  select,
  textarea {
    &.filled-input {
      text-align: left;
    }
  }

  &:hover {
    label {
      color: @primary !important;
      font-size: .8rem;
      top: 0 !important;

      span { font-size: .8rem; }
    }

    input {
      border-bottom: 2px solid @primary;
      padding-left: 0;
      text-align: left;

      &.i-border-0 {
        border-bottom: 2px solid transparent;
      }
    }

    select,
    textarea {
      border-bottom: 2px solid @primary;
      padding-left: 0;
      text-align: left;
    }
  }

  input:focus {
    border-bottom: 2px solid @primary;
    padding-left: 0;
    text-align: left;

    &.i-border-0 {
      border-bottom: 2px solid transparent;
    }
  }
}

/* TABLE RESPONSIVE */

.table-planes{
  margin-right:2.49999999%;
  margin-left:2.49999999%;
  margin-bottom:30px;
}
.bg-title-table{
  background-color:@primary;
}

.info-table{
  border-bottom:2px solid @primary;
  cursor: pointer;
  text-decoration:none;
  list-style:none;
}
.info-table:hover{
  background-color:rgba(100,100,100,.1);
}

.table-responsive {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}
.table-responsive tr {
  padding: .35em;
}
.table-responsive th,
.table-responsive td {
  padding: .625em;
  text-align: center;
}
@media screen and (max-width: 650px) {
  .table-responsive{
    border: 1px solid #ccc;
  }
  .table-responsive thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .table-responsive tr {
    border-bottom: 3px solid #ddd;
    display: block;
    background: linear-gradient(to left, #f8f8f8 60%, @primary 40%);
    overflow-x:auto;
  }
  .tabla-doble{
    height:63px;
  }
  .table-responsive td {
    display: block;
    text-align: right;
    padding-left:42% !important;
  }
  .table-responsive td::before {
    content: attr(data-label);
    float: left;
    width:30%;
    position:absolute;
    left:13%;
    color:white;
    text-align:left;
    text-transform:uppercase;
  }
}

/*---------------
    Text colors
---------------*/
.text-primary { color: @primary; }
.text-secondary { color: @secondary; }
.text-success { color: @success; }
.text-warning { color: @warning; }
.text-info { color: @info; }
.text-danger { color: @danger; }
.text-light { color: @light; }

/*--------------------
    Main-text styles
--------------------*/
.main-text {
  color: @font;
  font-weight: 700;
  text-decoration: none;
  
  /* Propiedades para la animación de transition */
  -webkit-transition: letter-spacing 0.5s ease;
  -moz-transition: letter-spacing 0.5s ease;
  -o-transition: letter-spacing 0.5s ease;
  transition: letter-spacing 0.5s ease;

  &:link,
  &:visited,
  &:active { color: @font; }

  &:hover { color: @primary; }

  &.logo {
    cursor: pointer;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 7px;
    text-transform: uppercase;
    
    @media (max-width: 399px) { font-size: 1.5rem; letter-spacing: 2px; }
    @media (min-width: 400px) and (max-width: 767px) { font-size: 1.9rem; letter-spacing: 4px; }
  }

  &.small {
    font-size: 1.1rem;
    letter-spacing: 6px;

    &:hover { letter-spacing: 8px; }
  }
}