<template>
    <footer>
        <section class="menu-info">
            <!-- Menú -->
            <div class="footer-nav">
                <!--
                    <router-link tag="a" to="/" class="icon-footer">
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                    </router-link>
                    <router-link tag="a" to="/shop" class="icon-footer">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Store</span>
                    </router-link>
                    <router-link tag="a" to="/contact-us" class="icon-footer">
                        <i class="fas fa-phone"></i>
                        <span>Contact us</span>
                    </router-link>   
                    <a href="https://www.facebook.com/birdroadfashion" target="_blank" class="icon-footer red-social fb">
                        <div class="bg">
                            <i class="fab fa-facebook-f"></i>
                        </div>
                        <span>Facebook</span>
                    </a>
                    <a href="https://www.instagram.com/birdroadfashion/" target="_blank" class="icon-footer red-social ig">
                        <div class="bg">
                            <i class="fab fa-instagram"></i>
                        </div>
                        <span>Instagram</span>
                    </a>
                -->
                <router-link tag="a" to="/" class="icon" data-tooltip="Home">
                    <i class="fas fa-home"></i>
                </router-link>
                <router-link tag="a" to="/shop" class="icon" data-tooltip="Store">
                    <i class="fas fa-shopping-cart"></i>
                </router-link>
                <router-link tag="a" to="/contact-us" class="icon" data-tooltip="Contact us">
                    <i class="fas fa-phone"></i>
                </router-link>   
                <a href="https://www.facebook.com/birdroadfashion" target="_blank" class="icon" data-tooltip="Facebook">
                    <i class="fab fa-facebook-f"></i>                    
                </a>
                <a href="https://www.instagram.com/birdroadfashion/" target="_blank" class="icon" data-tooltip="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <!-- Company information -->
            <div>
                <router-link tag="a" to="/" class="main-text small notranslate">BIRD ROAD</router-link>
                © Copyright 2019. All rights reserved
            </div>                                
        </section>
    </footer>
</template>
<script>
    export default {
        name:'vFooter',
        data () {
            return {

            }
        },
        methods:{
        },            
    }
</script>

<style lang="less">
    @import (reference) "../../../stylesheets/main.less";
    section.menu-info {
        border-top: 2px solid @primary;
        margin: 1rem 1rem 0 1rem;

        @media (max-width: 729.98px) {
            display: block;
            justify-content: center;
            padding: 1.8rem 1rem 1rem 1rem;
            text-align: center;
        }

        @media (min-width: 730px) {
            display: flex;
            justify-content: space-between;
            padding: 1.8rem 1rem;
        }        

        div.footer-nav {
            display: flex;
            justify-content: center;

            // @media (max-width: 729.98px) { margin-bottom: 0.5rem; }

            @media (max-width: 729.98px) { 
                height: 32px;
                margin-bottom: 0.5rem; 
            }  
            
            .icon {
                height: 24px;
                margin-top: -22px;
                text-decoration: none;
                width: 50px;

                &::before {
                    content: attr(data-tooltip);
                    background: @primary;
                    border-radius: 2px;
                    color: @light;
                    font-size: .7rem;
                    padding: .2rem .4rem;
                    position: relative;
                    text-transform: uppercase;
                    top: -.5rem;
                    visibility: hidden;
                    white-space: nowrap;
                }

                &:hover {
                    &::before { visibility: visible; }
                    i { color: @primary; }
                }

                & > i {  font-size: 1.3rem; }
            }

            /*
            a.icon-footer {
                height: 24px;
                text-decoration: none;
                width: 50px;

                &:link,
                &:visited,
                &:active { color: rgba(0, 0, 0, 0.8); }

                & > i { 
                    font-size: 1.3rem; 

                    /* Propiedades para la animación de transition */ /*
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;                
                }

                & > span {
                    background: @primary;
                    border-radius: 2px;
                    color: white;
                    font-size: .7rem;
                    margin-bottom: .2rem;
                    padding: .2rem .4rem;
                    position: relative;
                    text-transform: uppercase;
                    top: -53px;
                    visibility: hidden;
                    white-space: nowrap;
                }

                &.red-social {
                    align-items: center;
                    display: flex;

                    /* Propiedades para la animación de transition */ /*
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;

                    & > .bg {
                        background-color: transparent;

                        /* Propiedades para la animación de transition */ /*
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;

                        & > i {
                            font-size: 1.8rem;
                            /* Propiedades para la animación de transition */ /*
                            -webkit-transition: all 0.3s ease;
                            -moz-transition: all 0.3s ease;
                            -o-transition: all 0.3s ease;
                            transition: all 0.3s ease;
                        }
                    }

                    &.fb {
                        margin-right: 30px;
                        width: 20px;                        

                        & .bg > i { color: #3b5998;  }
                    }

                    &.ig .bg i { color: #d42572; }
                }

                &:hover {
                    & > span { visibility: visible; }
                    & > i { color: @primary; }
                    &.red-social {
                        span { background-color: transparent; font-weight: 700; }
                        
                        &.fb {
                            & > .bg {
                                background-color: #3b5998;
                                border-radius: 2px;
                                margin-top: -0.4rem;
                                padding: .4rem .3rem 0 0.9rem;

                                & > i { color: #fff; }
                            }

                            & span { color: #3b5998; left: -41px; top: -29px; }
                        }

                        &.ig {
                            & > .bg {
                                background-color: #d42572;
                                background-image: linear-gradient(190deg, #5442d4, #8b34b9, #d42572, #f02040, #f22d3e, #fec053);
                                border-radius: 10px;
                                margin-bottom: -0.1rem;
                                margin-top: -0.12rem;
                                padding: 0.12rem 0.25rem 0.1rem;

                                & > i { color: #fff; }
                            }

                            & span { color: #d42572; left: -38px; top: -27px; }
                        }
                    }
                }
            }
            */
        }
    }
</style>