<template>
    <div class="order" v-if="order.id_orders">
        <div v-bind:class="[order.status_orders === status[1] ? 'bg-light-success' : 'bg-light-primary', 'bg-overEfect', 'accordion']" @click="toggle">
            {{ order.date_orders }} - N° {{ order.id_orders }} - {{ order.name_persons }} {{ order.last_persons }} - {{ order.status_orders }}
        </div>
        <div class="panel" v-show="active">
            <div class="order-ids">
                <p>Order N° {{ order.id_orders }}</p>
                <p>{{ order.created_orders }}</p>
            </div>

            <div class="container">
                <div class="row-container">
                    <div class="card half">
                        <header>Customer Information</header>
                        <p class="text-strong">{{ order.name_persons }} {{ order.last_persons }}</p>
                        <p>E-mail: {{ order.email_persons }}</p>
                        <p >Phone: <span class="strong">{{ order.phone_persons }}</span></p>
                    </div>
                    
                    <div class="card half">
                        <header>Shipping Address</header>
                        <p class="text-strong">{{ order.address_orders }}</p>
                        <p class="text-strong">{{ order.city_orders }}, {{ order.country_orders }}</p>
                        <p>ZIP CODE {{ order.zip_orders }}</p>
                        <p >Phone: <span class="strong">{{ order.phone_persons }}</span></p>
                    </div>
                </div>

                <table class="table-responsive">
                    <thead>
                        <tr class="title-table-planes">
                            <th scope="col">Quantity</th>
                            <th scope="col">SKU</th>
                            <th scope="col">Product</th>
                            <th scope="col">Gift package</th>
                        </tr>
                    </thead>
                    <tr v-for="product in order.products" :key="product.id_orders_products">
                        <td data-label="Quantity">{{product.quantity}}</td>
                        <td data-label="SKU">{{product.code}}</td>
                        <td data-label="Product">{{product.name}}</td>
                        <td data-label="Gift package" class="tabla-doble">{{product.gift}}</td>
                    </tr>
                </table>

                <div class="row-container">
                    <div class="card third">
                        <header>Payment Information</header>
                        <p class="text-strong">Total: ${{ order.total_amount_orders }}</p>
                        <p class="break-word">Ref: {{ order.paypal_orders }}</p>
                        <p>Method: {{ order.method_orders }}</p>
                    </div>

                    <div :class="[modified ? 'modified' : '', 'card', 'third']">
                        <header>Shipping Information</header>
                        <label for="tracking">Tracking Number</label>
                        <input type="text" name="tracking" min="1" class="w-100" v-on:keyup="modified = true" v-model="order.tracking_orders">
                    </div>

                    <div class="card third">
                        <header class="text-center">Order Status</header>
                        <select name="order-status" id="order-status" @change="modified = true" v-model="order.status_orders" v-bind:class="[modified ? 'modified' : '', 'd-flex-auto', 'strong']">
                            <option v-for="state in status" :key="state" :value="state">
                                {{ state }}
                            </option>
                        </select>
                        <div class="row-container space-around">
                            <button @click="deleteOrder(order)" class="bg-danger bg-overEfect">DELETE</button>
                            <button @click="saveOrder(order)" v-bind:class="[modified ? 'modified' : '', 'bg-success', 'bg-overEfect']">SAVE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data () {
        return {
            active: false,
            modified: false,
            status:['Not yet shipped', 'Sent'],
        }
    },
    methods: {
        toggle () {
            this.active = !this.active;
        },
        deleteOrder (order) {
            const self = this;
            $.ajax({
                url:"../api.php?e=orders&r=/&id="+order.id_orders,
                method: "DELETE",
                dataType: "json",
            })
            .done(function (result) {
                self.order.id_orders = false;
            })
            .fail(function (error) {
                self.error = error.status + ' '+error.statusText;
            });
        },
        saveOrder (order) {
            const self = this;
            $.ajax({
                url:"../api.php?e=orders&r=/",
                method: "PUT",
                dataType: "json",
                data: {order: order},
            })
            .done(function (result) {
                self.modified = false;
            })
            .fail(function (error) {
                self.error = error.status + ' '+error.statusText;
            });
        },
    },
    props: ['order'],

}
</script>
<style lang="less">
@import (reference) "../../../stylesheets/main.less";

.strong { font-weight: 700; }
.d-flex-auto { display: flex; margin: 0 auto; }

.modified { 
    input,
    select,
    textarea {
        background-color: lighten(@success, 80%);
        border-bottom: 2px solid @success;
        color: @success;
        font-weight: 700;
        &:focus { border-bottom: 2px solid @success; }
    }
}
input.modified,
select.modified,
textarea.modified {
    background-color: lighten(@success, 80%);
    border-bottom: 2px solid @success;
    color: darken(@success, 5%);
    font-weight: 700;
    &:focus { border-bottom: 2px solid @success; }
}

button.modified {
    -webkit-animation: pulse .6s infinite alternate;
    -moz-animation: pulse .6s infinite alternate;
    -ms-animation: pulse .6s infinite alternate;
    -o-animation: pulse .6s infinite alternate;
    animation: pulse .6s infinite alternate;
}

@-webkit-keyframes pulse {
  from {transform: scale(1);}
  to {transform: scale(1.1);}
}
@-moz-keyframes pulse {
  from {transform: scale(1);}
  to {transform: scale(1.1);}
}
@-ms-keyframes pulse {
  from {transform: scale(1);}
  to {transform: scale(1.1);}
}
@-o-keyframes pulse {
  from {transform: scale(1);}
  to {transform: scale(1.1);}
}
@keyframes pulse {
  from {transform: scale(1);}
  to {transform: scale(1.1);}
}

.order {
    & > .accordion {
        border: 1px solid transparent;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Didact Gothic', sans-serif;
        font-weight: 700;
        outline: none;
        padding: 18px;
        text-align: left;
        text-transform: uppercase;
        transition: 0.4s;
    }
    
    & > .panel {
        background-color: white;
        margin-bottom: 1rem;
        overflow: hidden;
        text-align: center;

        .order-ids {
            @media (max-width: 599px) { display: block; margin: .8rem 0; }
            @media (min-width: 600px) { display: flex; margin: .8rem 0; }

            p {
                font-weight: 700;
                text-align: center;

                @media (min-width: 600px) { width: 100%; }
                &:last-child {
                    @media (max-width: 599px) { margin-top: .2rem; }
                }
            }
        }

        .container {
            .row-container {
                margin: 0.5rem 0;

                @media (max-width: 599px) { display: block; text-align: center; }
                @media (min-width: 600px) {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                }

                &.space-around {
                    @media (min-width: 600px) { justify-content: space-around; }
                }

                .card {
                    margin-bottom: 1rem;
                    padding: 0 1rem;
                    text-align: left;

                    header {
                        font-family: 'Didact Gothic', sans-serif;
                        font-size: 1.5rem;
                        font-weight: 700;
                        margin-bottom: .4rem;
                        text-transform: uppercase;
                    }
                    .text-strong {
                        font-size: 1.05rem;
                        font-weight: 700;
                    }

                    &.half {
                        @media (min-width: 600px) { width: 50%; }
                    }

                    &.third {
                        @media (min-width: 600px) { width: 50%; }
                        @media (min-width: 900px) { width: 33.33%; }
                        p.break-word { word-wrap: break-word; }
                    }
                }
            }
            .table-responsive { margin: 1rem 0 2rem; }
        }
    }
}
</style>
