<template>
    <transition name="fade">
        <vSuccessMessage v-if="showSuccessMessage" @close="showSuccessMessage = !showSuccessMessage"></vSuccessMessage>
        <div class="modal-background" v-on:click="$emit('close')">
            <div class="modal-container" @click.stop>
                <div class="main-article">
                    <button class="btn-close" v-on:click="$emit('close')"><i class="fas fa-times"></i></button>
                    <div v-if="order.items.length > 0" v-bind:class="[order.items.length > 0 ? '' : 'd-none' ]">
                        <header>
                            Shopping Cart
                        </header>
                        <form v-on:submit.prevent="">
                            <table>
                                <thead>
                                    <th title="Quantity">Qty.</th>
                                    <th title="Products">Products</th>
                                    <th title="Price">Unit price</th>
                                    <th title="More options"><i class="fas fa-plus"></i> options</th>
                                </thead>
                                <tr v-for="item in order.items" :key="item.id_products_variants">
                                <td>
                                    <div class="tooltip"> 
                                        <span v-if="item.quantity === item.quantity_products_variants" class="tooltiptext2">Only {{item.quantity_products_variants}} in stock</span>
                                        <input @input="validateMaxQuantity(item)" @blur="validateMinQuantity(item)" v-model="item.quantity" min="1" :max="item.quantity_products_variants" step="1" type="number" placeholder="0" class="w-50px">
                                    </div>
                                </td>
                                <td>{{item.name_products_variants}}</td> 
                                <td>${{item.price_products_variants}}</td>
                                <td class="d-flex justify-content-center">
                                    <div>
                                        <button @click="item.wantGift = !item.wantGift" type="button" class="bg-gray-button" title="Want to wrap as a gift?">
                                            <span>{{item.gift}}</span>
                                            <i class="fas fa-gift"></i>
                                        </button>
                                        <input v-model="item.gift" min="0" :max="item.quantity" step="1" type="number" id="giftQty" placeholder="0" v-bind:class="[item.wantGift ? 'd-inline-block' : 'd-none', 'w-50px']">
                                    </div>
                                    <button @click="removeOrderItem(item)" type="button" class="bg-gray-button" title="Remove product(s)">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                            </table>
                            <div class="bg-custom-primary">
                                Total products: ${{ totalProductsAmount }}
                            </div>
                            <div class="d-media-flex">
                                <!-- Customer-information -->
                                <div class="information m-1">
                                    <header>
                                        Customer's information
                                    </header>
                                    
                                    <div class="form-control">
                                        <label for="customer-name" v-bind:class="[order.customer.name.length ? activeClass : '' ]">
                                            Name
                                        </label>
                                        <input v-model="order.customer.name" type="text" name="customer-name" id="name" v-bind:class="[order.customer.name.length ? activeClass : '']" required>
                                    </div>

                                    <div class="form-control">
                                        <label for="customer-surname" v-bind:class="[order.customer.surname.length ? activeClass : '' ]">
                                            Surname
                                        </label>
                                        <input v-model="order.customer.surname" type="text" name="customer-surname" id="surname" v-bind:class="[order.customer.surname.length ? activeClass : '']" required>
                                    </div>

                                    <div class="form-control">
                                        <label for="customer-phone" v-bind:class="[order.customer.phone.length ? activeClass : '' ]">Phone</label>
                                        <input v-model="order.customer.phone" type="tel" name="customer-phone" id="phone" v-bind:class="[order.customer.phone.length ? activeClass : '']" required>
                                    </div>

                                    <div class="form-control">
                                        <label for="customer-email" v-bind:class="[order.customer.email.length ? activeClass : '' ]">E-mail</label>
                                        <input v-model="order.customer.email" type="email" name="customer-email" id="email" v-bind:class="[order.customer.email.length ? activeClass : '']" required>
                                    </div>
                                </div>
                                
                                <!-- Shipping-data -->
                                <div class="information m-1">
                                    <header>
                                        Shipping information
                                    </header>

                                    <div class="form-control">
                                        <label for="country" v-bind:class="[order.shipping.country.length ? activeClass : '' ]">Country</label>
                                        <select v-model="order.shipping.country" name="country" id="country" v-bind:class="[order.shipping.country.length ? activeClass : '']" required>
                                            <option></option>
                                            <option value="5">United States</option>
                                            <option value="35">Other (specify in address)</option>
                                        </select>
                                    </div>

                                    <div class="form-control">
                                        <label for="city" v-bind:class="[order.shipping.city.length ? activeClass : '' ]">City</label>
                                        <input v-model="order.shipping.city" type="text" name="city" id="city" v-bind:class="[order.shipping.city.length ? activeClass : '']" required>
                                    </div>

                                    <div class="form-control">
                                        <label for="address" v-bind:class="[order.shipping.address.length ? activeClass : '' ]">Address</label>
                                        <textarea v-model="order.shipping.address" name="address" id="address" rows="1" v-bind:class="[order.shipping.address.length ? activeClass : '']" required></textarea>
                                    </div>

                                    <div class="form-control">
                                        <label for="zip" v-bind:class="[order.shipping.zip.length ? activeClass : '' ]">Postal code</label>
                                        <input v-model="order.shipping.zip" type="number" name="zip" id="zip" min="1" v-bind:class="[order.shipping.zip.length ? activeClass : '']" required>
                                    </div>

                                    <div class="form-control">
                                        <label for="phone" v-bind:class="[order.shipping.phone.length ? activeClass : '' ]">Phone</label>
                                        <input v-model="order.shipping.phone" type="tel" name="phone" id="phone" v-bind:class="[order.shipping.phone.length ? activeClass : '']" required>
                                    </div>
                                </div>
                            </div>
            
                            <div class="final-price d-flex mt-2">
                                <div class="col-4 d-flex j-center">
                                    <div class="border-top h-0 w-100"></div>
                                </div>
                                <div class="col-4">
                                    <div class="w-100 text-center">
                                        Total to Pay 
                                    </div>
                                    <div class="text-center">${{ totalAmount }}</div>
                                </div>
                                <div class="col-4 d-flex j-center">
                                    <div class="border-top h-0 w-100"></div>
                                </div>
                            </div>

                            <!-- <div class="text-center link-bg-primary mt-2">
                                I agree 
                                <router-link tag="a" to="/terms-condition" target="_blank">terms and conditions</router-link>
                                <label class="custom-input">
                                    <input v-model="order.aceptTerms" type="checkbox" name="acept-terms" id="acept-terms"  required>
                                    <span class="checkbox"></span>
                                </label>
                            </div> -->
                            <!-- <div class="text-center link-bg-primary mt-1">
                                <router-link tag="a" to="/shipping-policy" target="_blank">Shipping and Returns Policy</router-link>
                            </div> -->
                            
                            <p class="text-center">{{paymentStatus}}</p>
                            <p class="text-center">{{orderStatus}}</p>
                            <div class="config-paypal-button">
                                <PayPal
                                    :amount="order.bill.amount"
                                    currency="USD"
                                    env="production"
                                    v-on:payment-completed="paymentCompleted"
                                    v-on:payment-cancelled="paymentCancelleed"
                                    :button-style="paypalButtonStyle"
                                    :client="paypalCredentials">
                                </PayPal>
                                <button @click="validateInputsFilled" type="submit" class="transparente" v-show="!areInputsFilled">
                                </button>
                            </div>
                        </form>
                    </div>
                    <div v-else>
                        <p class="text-center">{{paymentStatus}}</p>
                        <p class="text-center">{{orderStatus}}</p>
                        <div class="fa-stack fa-3x">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-exclamation fa-stack-1x fa-inverse"></i>
                        </div>
                        <header>
                            Empty cart
                        </header>
                        <p class="text-center">You must add products to the cart</p>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>
<script>
    import PayPal from "vue-paypal-checkout";
    import vSuccessMessage from '../components/success.vue';
    export default {
        data() {
            return {
                showSuccessMessage: false,
                activeClass: 'filled-input',
                order: {
                    bill: {
                        amount: '0',
                        paymentID: '',
                        method: '',
                    },
                    items: [],
                    customer: {
                        name: '',
                        surname: '',
                        phone: '',
                        email: '',
                    },
                    shipping: {
                        country: '',
                        city: '',
                        address: '',
                        zip: '',
                        phone: '',
                    },
                    aceptTerms: '',
                },
                paypalCredentials: {
                    sandbox: 'AWoX6OuTTPAY6NMXHaZiFw0JHmKHQaDuQ0JD-DQzpm2nftqWj25Is8d1wX4rT_WnlVGWt1ZxhFyEG080L',
                    production: 'AQPKpGnVkGg-MvzqCqsAvuBKzYADIefatjrgOY_uO01I3YMSxzjB8Bd2oN6bFo0DAR9k2AuSsUmBhIWx',
                },
                paypalButtonStyle: {
                    // label: 'Checkout',
                    size:  'responsive',
                    shape: 'pill',
                    color: 'gold'
                },
                paypalResponse: '',
                paymentStatus: '',
                orderStatus: '',
            }
        },
        computed: {
            totalProductsAmount () {
                let total = 0;
                this.order.items.forEach(function(e) {
                    total += Number(e.price_products_variants) * e.quantity;
                })
                return total;
            },
            totalAmount () {
                let total = Number(this.order.shipping.country) + this.totalProductsAmount;
                this.order.bill.amount = total+"";
                return total;
            },
            areInputsFilled () {
                if (this.order.customer.name && this.order.customer.surname && this.order.customer.phone && this.order.customer.email && this.order.shipping.country && this.order.shipping.city && this.order.shipping.address && this.order.shipping.zip && this.order.shipping.phone /* && this.order.aceptTerms */) {
                    return true;
                }
                else {
                    return false;
                }
            }
        },
        methods: {
            addOrderItem(item) {
                this.order.items.push(item);
                this.saveOrder();
            },
            removeOrderItem(x) {
                // this.order.items.splice(x, 1);
                this.order.items = this.order.items.filter(function(e){
                    return x.id_products_variants != e.id_products_variants
                });
                this.saveOrder();
            },
            readOrderItems() {
                const items = localStorage.getItem('items');
                const parse = JSON.parse(items);
                parse.forEach(element => {
                    element.wantGift = false;
                });
                this.order.items = parse
            },
            saveOrder() {
                const parsed = JSON.stringify(this.order.items);
                localStorage.setItem('items', parsed);
            },
            validateInputsFilled() {
                const self = this;
                if (!this.areInputsFilled) {
                    this.paymentStatus = 'All fields must be filled';/* + 'and you must accept the Terms and conditions.' */
                    setTimeout(function () {
                        self.paymentStatus = '';
                    },5000)
                }
            },
            validateMaxQuantity(item) {
                item.quantity = Number(item.quantity).toFixed(0);
                if (Number(item.quantity) > Number(item.quantity_products_variants)) {
                    item.quantity = item.quantity_products_variants
                }
                this.saveOrder()
            },
            validateMinQuantity(item) {
                item.quantity = Number(item.quantity).toFixed(0);
                if (item.quantity == 0) {
                    item.quantity = 1
                }
                this.saveOrder()
            },
            sendOrder () {
                const self = this;
                $.ajax({
                    url:"./api.php?e=orders&r=/",
                    method: "POST",
                    dataType: "json",
                    data: {order: self.order},
                })
                .done(function (result) {
                    self.orderStatus = 'Order saved with ID '+result.load.order;
                    localStorage.removeItem('items');
                    self.order.items = [];
                })
                .fail(function (error) {
                    self.orderStatus = 'Leave a message in the Contact Us section. ' + error.status + ' ' +error.statusText;
                });
            },
            paymentCompleted (data) {
                // console.log('Completado', JSON.stringify(data))
                this.order.bill.paymentID = data.id;
                this.order.bill.method = data.payer.payment_method;
                this.paymentStatus = 'Payment received.';
                this.orderStatus = 'Saving order . . .';
                this.sendOrder();
                this.showSuccessMessage = true;
            },
            paymentCancelleed (data) {
                // console.log('Cancelado', JSON.stringify(data))
                this.paymentStatus = 'You have cancelled the payment. Push again the PayPal button to buy.';
            },
        },
        mounted() {
            // console.log("mounted")
            document.addEventListener("keydown", (e) => {
                if (e.keyCode == 27) {
                    this.$emit('close');
                }
            });
            // Funcionalidad duplicada en item-details.vue
            if (localStorage.getItem('items')) {
                try {
                    this.readOrderItems();
                } catch(e) {
                    localStorage.removeItem('items');
                }
            }
        },
        components: {
            PayPal, vSuccessMessage,
        },
    }
</script>

<style lang="less">
    /* Codigo CSS del Modal */
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }

    .config-paypal-button {
        margin-top: 1rem;
        position: relative;

        & button.transparente {
            background-color: transparent !important;
            border: 1px solid transparent;
            cursor: pointer;
            max-height: 55px;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 115;

            @media (min-width: 160px) { border-radius: 13px; height: 25px; }
            @media (min-width: 300px) { border-radius: 18px; height: 35px; }
            @media (min-width: 392px) { border-radius: 23px; height: 45px; }
            @media (min-width: 602px) { border-radius: 28px; height: 55px; }
            @media (min-width: 870px) and (max-width: 991px) { left: calc(50% - 375px); width: 750px; }
            @media (min-width: 992px) { left: 0; width: 100%; }
            @media (min-width: 1180px) { left: calc(50% - 375px); width: 750px; }

            &:hover { background-color: transparent !important; }
        }
    }
    
    .main-article div.fa-stack {
        display: flex;
        margin: 0 auto 1rem;

        & i.fas.fa-circle { color: #fe8f00; }
        & i.fas.fa-exclamation { font-size: 2.5rem; }
    }
</style>
